---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import ArticleList from '../components/ArticleList.astro';
import ArticleItem from '../components/ArticleItem.astro';
import Pagination from '../components/Pagination.astro';

// page
const { title = 'Adventures' } = Astro.props;
const { description = 'A newsletter about typography' } = Astro.props;
let canonicalURL = Astro.request.canonicalURL;

export async function createCollection() {
  const allPosts = Astro.fetchContent('../pages/adventures/*.md') // fetch local posts...
    .sort((a, b) => new Date(b.date) - new Date(a.date));
  return {
     paginate: true,
     route: '/adventures/:page?',
     async props({paginate}) {
      return {
        posts: paginate(allPosts, {pageSize: 20}),
      };
    },
  }
}

const {posts} = Astro.props;
---

<html lang="en">
  <head>
    <MainHead
      title={title}
      description={description}
      canonicalURL={canonicalURL}
    />

    <style lang="scss">
      .title {
        font-size: 3em;
        letter-spacing: -0.04em;
        margin-top: 2rem;
        margin-bottom: 0;
        text-align: center;
      }

      .count {
        font-size: 1em;
        display: block;
        text-align: center;
      }

      form {
        margin-bottom: 100px;
      }

      form div {
        display: flex;
        gap: 16px;
        margin-top: 5px;
      }

      label {
        margin-bottom: 0;
        padding: 0;
        text-transform: uppercase;
        color: var(--color-subtext);
        font-size: 15px;
        font-weight: bold;
        font-variant: small-caps;
      }

      input {
        -webkit-appearance: none;
        width: 100%;
        height: 40px;
        margin: 0;
        border: none;
        padding: 15px;
        font-size: 1.2em;
        font-family: National, var(--font-fallback);
      }

      p {
        margin-top: -20px;
      }

      input[type="submit"] {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-variant: small-caps;
        text-transform: lowercase;
        font-size: 24px;
        padding: 0;
        background: var(--color-link);
        color: var(--color-backgroundNav);
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <Nav title={title} />
    <main class="wrapper">
      <ArticleList title="Adventures in Typography">
        <p>A weekly newsletter about fonts and typefaces and the differences between them. Adventures is currently on hiatus, but sign up below to be notified when the next season begins:</p>
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/robinrendle"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/robinrendle', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
          <label for="bd-email">Email Address</label>
          <div>
            <input type="email" name="email" id="bd-email" />
            <input type="hidden" value="1" name="embed" />
            <input type="submit" value="Subscribe" />
          </div>
        </form>
        {posts.data.map((post) => (
          <ArticleItem post={post} />
        ))}
      </ArticleList>
    </main>
    <Pagination prev={posts.url.prev || '#'} next={posts.url.next || '#'} />
  </body>
</html>
