---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import ArticleList from '../components/ArticleList.astro';
import ArticleItem from '../components/ArticleItem.astro';

// page
const { title = 'Adventures' } = Astro.props;
const { description = 'A newsletter about typography' } = Astro.props;
let canonicalURL = Astro.request.canonicalURL;

export async function createCollection() {
  const allPosts = Astro.fetchContent('../pages/adventures/*.md') // fetch local posts...
    .sort((a, b) => new Date(b.date) - new Date(a.date));
  return {
     paginate: true,
     route: '/adventures/:page?',
     async props({paginate}) {
      return {
        posts: paginate(allPosts, {pageSize: 20}),
      };
    },
  }
}

const {posts} = Astro.props;
---

<html>
  <head>
    <MainHead
      title={title}
      description={description}
      canonicalURL={canonicalURL}
    />

    <style lang="scss">
      .title {
        font-size: 3em;
        letter-spacing: -0.04em;
        margin-top: 2rem;
        margin-bottom: 0;
        text-align: center;
      }

      .count {
        font-size: 1em;
        display: block;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <Nav title={title} />
    <main class="wrapper">
      <ArticleList title="Adventures in Typography">
        {posts.data.map((post) => (
          <ArticleItem post={post} />
        ))}
      </ArticleList>
    </main>
    <footer>
      <a class="prev" href={posts.url.prev || '#'}>Prev</a>
      <a class="next" href={posts.url.next || '#'}>Next</a>
    </footer>
  </body>
</html>
