---
export interface Props {
  post: any;
}

const { post } = Astro.props;

function formatDate(stupidIdiotDate) {
  const newFancyDate = new Date(stupidIdiotDate).toLocaleDateString(
    'en-us',
    {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
      timeZone: 'utc'
    }
  );
  return newFancyDate;
}
---

<style lang="scss">
  article {
    display: block;
    padding: 20px 0 25px 0;
    margin-top: 0;
    border-bottom: 1px solid var(--color-faded);
    color: inherit;
    text-decoration: none;

    &:last-child {
      border-bottom: none;
    }

    time {
      color: var(--color-subtext);
    }
  }

  h2 {
    font-size: 1.3em;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 5px;
    text-decoration-color: red !important;
    padding: 0;

    a {
      color: var(--color-title);
    }
  }

  p {
    margin-top: 0;
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.3;
  }
</style>

<article class="post">
  <div class="data">
    <time class="date" datetime={post.date}>{formatDate(post.date)}</time>
    <h2>
      <a class="link" href={post.url}>
        {post.title}
      </a>
    </h2>
    <p class="description">
      {post.extract}
    </p>
  </div>
</article>
