---
export interface Props {
  title: any;
  date: any;
  city: any;
  country: any;
}

const { title, date, city, country } = Astro.props;


function formatDate(stupidIdiotDate) {
  const newFancyDate = new Date(stupidIdiotDate).toLocaleDateString(
    'en-us',
    {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
      timeZone: 'utc'
    }
  );
  return newFancyDate;
}
---

<style lang="scss">
.page-title {
  font-weight: 400;
  font-family: var(--font-subheading);
  font-size: var(--heading-font-size);
}

header {
  margin-top: 30px;
  border-top: 1px solid var(--color-background);
  @media screen and (min-width: 900px) {
    margin-top: 0;
  }
}

.page-title, main {
  margin-top: 0;
}

.page-title {
  margin-bottom: 30px;
}

.time {
  margin-bottom: 5px;
  color: var(--color-subtext);
  border-top: 1px solid var(--color-background);
}
</style>


<header>
  <div class="time">
    <time datetime={date}>{formatDate(date)}</time> 
    {city && ` • ${city}, ${country}`}
  </div>

  <h1 class="page-title">{title}</h1>
</header>