---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

export let content;
---
<style>
</style>


<html>
  <head>
    <MainHead title={content.title} description={content.description} image={content.image} canonicalURL={Astro.request.canonicalURL} />
  </head>

  <body>
    <Nav />
    <main class="wrapper">
      <div class="header">
        <h1 class="title">{content.title}</h1>
        <time>{content.date}</time>
        {content.city}, {content.country}
      </div>

      <article class="article">
        <slot />
      </article>
      <footer class="footer">
        <a class="posts" href="/posts">All Adventures Post</a>
      </footer>
    </main>
    <footer>
    </footer>
  </body>
</html>
