---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Wrapper from '../components/Wrapper.astro';
import TitleArticle from '../components/TitleArticle.astro';

const {content} = Astro.props;
const {title, extract, date, city, country} = content;
---
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <MainHead title={title} description={extract} />
    <style lang="scss">
      .article {
        margin-top: 0; 
        padding-bottom: 200px;
        hyphens: auto;

        @media screen and (min-width: 900px) {
          grid-column: 6 / 13;
        }
      }

      .subscribe {
        margin-top: 100px;
        p {
          margin-top: 0;
        }
      }
    </style>
  </head>
  <body>
    <Nav />
    <main>
      <TitleArticle title={title} city={city} country={country} date={date} />
      <article class="article">
        <slot />
      </article>
    </main>
  </body>
</html>
