---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

const {content} = Astro.props;
const {title, extract, date, city, country} = content;

function formatDate(stupidIdiotDate) {
  const newFancyDate = new Date(stupidIdiotDate).toLocaleDateString(
    'en-us',
    {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
      timeZone: 'utc'
    }
  );
  return newFancyDate;
}
---

<html lang="en">
  <head>
    <MainHead title={title} description={extract} />
    <style lang="scss">
      .wide-wrapper {
        max-width: 1800px;
        padding: 0 30px;
      }

      .wrapper {
        padding: 0 15px;
        margin: 0 auto;
      
        @media screen and (min-width: 900px) {
          margin-top: 0;
          max-width: 720px;
        }
      }

      h1 {
        font-weight: bold;
        font-family: National, var(--font-fallback);
        font-size: 2em;

        @media screen and (min-width: 767px) {
          font-size: 2.4em;
        }
      }

      .header {
        margin-top: 30px;
        border-top: 1px solid var(--color-background);
        @media screen and (min-width: 900px) {
          margin-top: 60px;
        }
      }

      .page-title, main {
        margin-top: 0;
      }
      
      .page-title {
        margin-bottom: 30px;
      }

      .article {
        margin-top: 0; 
        padding-bottom: 200px;

        @media screen and (min-width: 900px) {
          grid-column: 6 / 13;
        }
      }
      .time {
        margin-bottom: 5px;
        color: var(--color-subtext);
        border-top: 1px solid var(--color-background);
      }

      .reply {
        margin-top: 100px;
        border-top: 1px solid var(--color-faded);
        padding-top: 15px;
      }
    </style>
  </head>
  <body>
    <Nav />
    <main>
      <div class="header">
        <div class="wrapper">
          <div class="time">
            <time datetime={date}>{formatDate(date)}</time> 
            {city && ` • ${city}, ${country}`}
          </div>
          <h1 class="page-title">{title}</h1>
        </div>
      </div>
      <div class="wrapper">
        <article class="article">
          <slot />
          <div class="reply">
            <a href={`mailto:robinjrendle@gmail.com?subject=${title}`}>Reply via Email</a>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
